# Exploring Ebay Car Sale Data

## Objective

Our goal for this project is clean the data that we intent to work with and analyze it to gain further insight into the used car market Ebay has in Germany.

In [1]:
import numpy as np
import pandas as pd

In [2]:
autos = pd.read_csv("autos.csv", encoding="Latin-1")

In [3]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [5]:
autos.head(5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

**So Far:**
It looks like certain columns are missing some data (fuelType, notRepairedDamage, mdoel, gearbox and vehicleType all have less than a count of 50000). The name column should probably be split up by make and model. The odometer column should be a float, we can remove the km and add that to the column name to make better use of the data. Same thing goes for the price column, which is currently a string, but should be a float _(also not sure what currency these prices are in...but seeing as the data is from Germany, I'm guessing Euros.)_

In [6]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
old_col = autos.columns

In [8]:
old_col

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [9]:
new_col = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gear_box', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

old_col = new_col
autos.columns = old_col
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

The first change I made to the dataframe had to do with the column names. Some of them were more difficult to understand and needed to be renamed. Also, the original columns used camelcase instead of snake case, so I changed that as well for readability.

In [10]:
autos.describe(include="all")

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-23 18:39:34,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Looking at the data thus far, it looks like a column we can probably drop is the **nr_of_pictures** as the value is mostly 0.0 across the rows. Another column I'm not too sure about is the **ab_test** column. I don't know how useful that column will be to our research. **unrepaired_damage** might be able to be dropped as well. 

We'll need to convert the **price** and **odometer** columns into floats.

In [11]:
autos["price"].head()

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object

In [12]:
autos["price"] = (autos["price"]
                 .str.replace("$", "")
                 .str.replace(",", "")
                 .astype(float))

In [13]:
autos["price"].head()

0    5000.0
1    8500.0
2    8990.0
3    4350.0
4    1350.0
Name: price, dtype: float64

**Now we can go about converting the odometer column:**

In [14]:
autos["odometer"].describe()

count         50000
unique           13
top       150,000km
freq          32424
Name: odometer, dtype: object

In [15]:
autos["odometer"].head(10)

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
5    150,000km
6    150,000km
7    150,000km
8    150,000km
9    150,000km
Name: odometer, dtype: object

**_We can see there is a str 'km' and a comma that need to be removed before we can convert:_**

In [16]:
autos["odometer"] = (autos["odometer"]
                    .str.replace(",", "")
                    .str.replace("km", ""))
autos["odometer"].head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer, dtype: object

**_Now we can convert the strings over to type float:_**

In [17]:
autos["odometer"] = autos["odometer"].astype(float)

In [18]:
autos["odometer"].head()

0    150000.0
1    150000.0
2     70000.0
3     70000.0
4    150000.0
Name: odometer, dtype: float64

**_There we go! Converted over to floats. Next thing we need to do is rename the column since we removed the km from data:_**

In [19]:
autos.rename({"odometer":"odometer_km"}, axis=1, inplace=True)

**_Odometer is taken care of now! Lets move on._**

In [20]:
autos["odometer_km"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

I think the odometer readings are pretty good, especially for used cars. I don't see any range or amount of miles that is out of the ordinary, so I will move on to the price column.

In [21]:
autos["price"].value_counts().sort_index(ascending=True)

0.0           1421
1.0            156
2.0              3
3.0              1
5.0              2
8.0              1
9.0              1
10.0             7
11.0             2
12.0             3
13.0             2
14.0             1
15.0             2
17.0             3
18.0             1
20.0             4
25.0             5
29.0             1
30.0             7
35.0             1
40.0             6
45.0             4
47.0             1
49.0             4
50.0            49
55.0             2
59.0             1
60.0             9
65.0             5
66.0             1
              ...
151990.0         1
155000.0         1
163500.0         1
163991.0         1
169000.0         1
169999.0         1
175000.0         1
180000.0         1
190000.0         1
194000.0         1
197000.0         1
198000.0         1
220000.0         1
250000.0         1
259000.0         1
265000.0         1
295000.0         1
299000.0         1
345000.0         1
350000.0         1
999990.0         1
999999.0         2
1234566.0        1
1300000.0        1
3890000.0        1
10000000.0       1
11111111.0       2
12345678.0       3
27322222.0       1
99999999.0       1
Name: price, Length: 2357, dtype: int64

**Ok, while it is 'possible' to be selling a used car for over 100k, I'm not sure if we'd find those in ebay classifieds. Time to look a bit deeper into the data to examine what kind of cars these are.**

**The same goes for the cars that are 'free'**

In [22]:
free_cars = autos[autos["price"] == 0.0]
free_cars.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,0.0,control,NaN,2005,NaN,0,NaN,150000.0,0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,privat,Angebot,0.0,control,NaN,1990,manuell,0,NaN,5000.0,0,benzin,opel,NaN,2016-03-28 00:00:00,0,4552,2016-04-07 01:45:48
80,2016-03-09 15:57:57,Nissan_Primera_Hatchback_1_6_16v_73_Kw___99Ps_...,privat,Angebot,0.0,control,coupe,1999,manuell,99,primera,150000.0,3,benzin,nissan,ja,2016-03-09 00:00:00,0,66903,2016-03-09 16:43:50
87,2016-03-29 23:37:22,Bmw_520_e39_zum_ausschlachten,privat,Angebot,0.0,control,NaN,2000,NaN,0,5er,150000.0,0,NaN,bmw,NaN,2016-03-29 00:00:00,0,82256,2016-04-06 21:18:15
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,privat,Angebot,0.0,control,cabrio,2011,manuell,0,2_reihe,60000.0,7,diesel,peugeot,nein,2016-04-05 00:00:00,0,99735,2016-04-07 12:17:34

As I thought, these "free" vehicles aren't needed in our data because we have no way of truly knowing why they are labeled free. My guess is the person who added them to the classifieds either forgot to add the price (which is rare, but I guess possible), or they are trying to lure in potential buyers in an odd fashion. Either way, this data will be removed.

In [23]:
autos = autos[autos["price"] > 0.0]
autos["price"].value_counts().sort_index(ascending=True)

1.0           156
2.0             3
3.0             1
5.0             2
8.0             1
9.0             1
10.0            7
11.0            2
12.0            3
13.0            2
14.0            1
15.0            2
17.0            3
18.0            1
20.0            4
25.0            5
29.0            1
30.0            7
35.0            1
40.0            6
45.0            4
47.0            1
49.0            4
50.0           49
55.0            2
59.0            1
60.0            9
65.0            5
66.0            1
70.0           10
             ...
151990.0        1
155000.0        1
163500.0        1
163991.0        1
169000.0        1
169999.0        1
175000.0        1
180000.0        1
190000.0        1
194000.0        1
197000.0        1
198000.0        1
220000.0        1
250000.0        1
259000.0        1
265000.0        1
295000.0        1
299000.0        1
345000.0        1
350000.0        1
999990.0        1
999999.0        2
1234566.0       1
1300000.0       1
3890000.0       1
10000000.0      1
11111111.0      2
12345678.0      3
27322222.0      1
99999999.0      1
Name: price, Length: 2356, dtype: int64

**Ok, we've removed all of the free vehicles from the data. Now, lets take out the car listings with a price over 350k as the next price after that is just shy of a million dollars:**

In [24]:
pricey_cars = autos[autos["price"] > 350001]
pricey_cars.head(5)

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
514,2016-03-17 09:53:08,Ford_Focus_Turnier_1.6_16V_Style,privat,Angebot,999999.0,test,kombi,2009,manuell,101,focus,125000.0,4,benzin,ford,nein,2016-03-17 00:00:00,0,12205,2016-04-06 07:17:35
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,privat,Angebot,11111111.0,test,limousine,1973,manuell,48,escort,50000.0,3,benzin,ford,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27
7814,2016-04-04 11:53:31,Ferrari_F40,privat,Angebot,1300000.0,control,coupe,1992,NaN,0,NaN,50000.0,12,NaN,sonstige_autos,nein,2016-04-04 00:00:00,0,60598,2016-04-05 11:34:11
11137,2016-03-29 23:52:57,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,privat,Angebot,10000000.0,control,coupe,1960,manuell,368,NaN,100000.0,1,benzin,sonstige_autos,nein,2016-03-29 00:00:00,0,73033,2016-04-06 21:18:11
22947,2016-03-22 12:54:19,Bmw_530d_zum_ausschlachten,privat,Angebot,1234566.0,control,kombi,1999,automatik,190,NaN,150000.0,2,diesel,bmw,NaN,2016-03-22 00:00:00,0,17454,2016-04-02 03:17:32

**Now this is something I wasn't expecting to see. It does appear some people are selling cars that are luxury and collectors items for extremely high prices. However, because the amount of cars is so low, we'll still remove them**

In [25]:
autos = autos[autos["price"] < 350001]

In [26]:
autos["price"].value_counts().sort_index(ascending=True)

1.0         156
2.0           3
3.0           1
5.0           2
8.0           1
9.0           1
10.0          7
11.0          2
12.0          3
13.0          2
14.0          1
15.0          2
17.0          3
18.0          1
20.0          4
25.0          5
29.0          1
30.0          7
35.0          1
40.0          6
45.0          4
47.0          1
49.0          4
50.0         49
55.0          2
59.0          1
60.0          9
65.0          5
66.0          1
70.0         10
           ...
119500.0      1
119900.0      1
120000.0      2
128000.0      1
129000.0      1
130000.0      1
135000.0      1
137999.0      1
139997.0      1
145000.0      1
151990.0      1
155000.0      1
163500.0      1
163991.0      1
169000.0      1
169999.0      1
175000.0      1
180000.0      1
190000.0      1
194000.0      1
197000.0      1
198000.0      1
220000.0      1
250000.0      1
259000.0      1
265000.0      1
295000.0      1
299000.0      1
345000.0      1
350000.0      1
Name: price, Length: 2346, dtype: int64

**From here we can see the cleaned column for price. We still have those outliers that are above 100k, but we will keep those in as they are specialty vehicles.**

**Now, lets take a look at the date columns and clean them as needed:**

In [27]:
autos["date_crawled"].value_counts(normalize=True, dropna=False).sort_index(ascending=False)

2016-04-07 14:36:56    0.000021
2016-04-07 14:36:55    0.000021
2016-04-07 14:36:44    0.000021
2016-04-07 14:30:26    0.000021
2016-04-07 14:30:09    0.000021
2016-04-07 14:07:04    0.000021
2016-04-07 13:36:38    0.000021
2016-04-07 13:36:37    0.000021
2016-04-07 13:36:20    0.000021
2016-04-07 13:36:19    0.000021
2016-04-07 13:25:39    0.000021
2016-04-07 13:06:18    0.000021
2016-04-07 12:25:35    0.000021
2016-04-07 12:25:34    0.000021
2016-04-07 12:06:23    0.000021
2016-04-07 12:06:19    0.000021
2016-04-07 11:36:35    0.000021
2016-04-07 11:36:34    0.000041
2016-04-07 11:36:25    0.000021
2016-04-07 11:36:24    0.000021
2016-04-07 11:36:23    0.000021
2016-04-07 11:36:19    0.000021
2016-04-07 11:06:33    0.000021
2016-04-07 10:36:37    0.000041
2016-04-07 10:36:36    0.000021
2016-04-07 10:36:35    0.000021
2016-04-07 10:36:25    0.000021
2016-04-07 10:36:24    0.000021
2016-04-07 10:36:19    0.000021
2016-04-07 10:36:17    0.000021
                         ...
2016-03-05 14:11:40    0.000021
2016-03-05 14:11:25    0.000021
2016-03-05 14:11:15    0.000021
2016-03-05 14:11:14    0.000021
2016-03-05 14:11:05    0.000021
2016-03-05 14:11:03    0.000021
2016-03-05 14:10:46    0.000021
2016-03-05 14:10:20    0.000021
2016-03-05 14:10:18    0.000021
2016-03-05 14:09:58    0.000041
2016-03-05 14:09:57    0.000021
2016-03-05 14:09:56    0.000021
2016-03-05 14:09:46    0.000021
2016-03-05 14:09:38    0.000021
2016-03-05 14:09:22    0.000021
2016-03-05 14:09:20    0.000021
2016-03-05 14:09:05    0.000021
2016-03-05 14:09:02    0.000041
2016-03-05 14:08:42    0.000021
2016-03-05 14:08:27    0.000021
2016-03-05 14:08:05    0.000041
2016-03-05 14:08:00    0.000041
2016-03-05 14:07:45    0.000021
2016-03-05 14:07:40    0.000021
2016-03-05 14:07:26    0.000021
2016-03-05 14:07:21    0.000021
2016-03-05 14:07:08    0.000021
2016-03-05 14:07:04    0.000021
2016-03-05 14:06:40    0.000021
2016-03-05 14:06:30    0.000021
Name: date_crawled, Length: 46882, dtype: float64

In [28]:
autos["date_crawled"].describe()

count                   48565
unique                  46882
top       2016-03-19 17:36:18
freq                        3
Name: date_crawled, dtype: object

The **date_crawled** column shows us when data was scraped from the original site. Nearly all of the entries are unique, because of the timestamp. It might make sense to simply remove this in order to find patterns along the days.

In [29]:
autos["ad_created"].describe()

count                   48565
unique                     76
top       2016-04-03 00:00:00
freq                     1887
Name: ad_created, dtype: object

Now if we take a look at the **ad_created** column, we can see that the number of unique entries is much smaller. This is likely because the timestamp is set to all zeros for a majority of the rows.

In [30]:
autos["last_seen"].describe()

count                   48565
unique                  38474
top       2016-04-07 06:17:27
freq                        8
Name: last_seen, dtype: object

The **last_seen** column has a similar structrue to the **date_crawled** one. More unique entries due to the fact the timestamps are unique. We would want to remove the timestamp in order to find patterns in the data based on the date only.

In [31]:
autos["registration_year"].describe()

count    48565.000000
mean      2004.755421
std         88.643887
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [32]:
autos["registration_year"].value_counts().sort_index(ascending=False)

9999       3
9000       1
8888       1
6200       1
5911       1
5000       4
4800       1
4500       1
4100       1
2800       1
2019       2
2018     470
2017    1392
2016    1220
2015     392
2014     663
2013     803
2012    1310
2011    1623
2010    1589
2009    2085
2008    2215
2007    2277
2006    2670
2005    2936
2004    2703
2003    2699
2002    2486
2001    2636
2000    3156
        ...
1964      12
1963       8
1962       4
1961       6
1960      23
1959       6
1958       4
1957       2
1956       4
1955       2
1954       2
1953       1
1952       1
1951       2
1950       3
1948       1
1943       1
1941       2
1939       1
1938       1
1937       4
1934       2
1931       1
1929       1
1927       1
1910       5
1800       2
1111       1
1001       1
1000       1
Name: registration_year, Length: 95, dtype: int64

**We can see by looking at the registration_year column that there are clearly some years that we need to remove from the column. Anything under 1910 can go and the same goes for anything over 2019.**

In [33]:
old_classics = autos[autos["registration_year"] == 1910]
old_classics

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
3679,2016-04-04 00:36:17,Suche_Auto,privat,Angebot,1.0,test,NaN,1910,NaN,0,NaN,5000.0,0,NaN,sonstige_autos,NaN,2016-04-04 00:00:00,0,40239,2016-04-04 07:49:15
22659,2016-03-14 08:51:18,Opel_Corsa_B,privat,Angebot,500.0,test,NaN,1910,NaN,0,corsa,150000.0,0,NaN,opel,NaN,2016-03-14 00:00:00,0,52393,2016-04-03 07:53:55
28693,2016-03-22 17:48:41,Renault_Twingo,privat,Angebot,599.0,control,kleinwagen,1910,manuell,0,NaN,5000.0,0,benzin,renault,NaN,2016-03-22 00:00:00,0,70376,2016-04-06 09:16:59
30781,2016-03-25 13:47:46,Opel_Calibra_V6_DTM_Bausatz_1:24,privat,Angebot,30.0,test,NaN,1910,NaN,0,calibra,100000.0,0,NaN,opel,NaN,2016-03-25 00:00:00,0,47638,2016-03-26 23:46:29
45157,2016-03-11 22:37:01,Motorhaube,privat,Angebot,15.0,control,NaN,1910,NaN,0,NaN,5000.0,0,NaN,trabant,NaN,2016-03-11 00:00:00,0,90491,2016-03-25 11:18:57

We can see these cars from 1910 are older vehicles, so they probably fall under the category of collectors items. We will remove anything older than 1910 from our list.

In [34]:
autos[autos["registration_year"] > 2015].sort_index(ascending=True)

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gear_box,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,999.0,test,NaN,2017,manuell,90,NaN,150000.0,4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
55,2016-03-07 02:47:54,Mercedes_E320_AMG_zu_Tauschen!,privat,Angebot,1.0,test,NaN,2017,automatik,224,e_klasse,125000.0,7,benzin,mercedes_benz,nein,2016-03-06 00:00:00,0,22111,2016-03-08 05:45:44
59,2016-03-17 17:50:54,Mercedes_A_Klasse_W_168__A_140_gruen,privat,Angebot,700.0,control,NaN,2016,manuell,0,a_klasse,150000.0,0,benzin,mercedes_benz,NaN,2016-03-17 00:00:00,0,95356,2016-03-19 17:46:47
65,2016-04-04 19:30:39,Ford_Fiesta_zum_ausschlachten,privat,Angebot,250.0,control,NaN,2017,manuell,65,fiesta,125000.0,9,benzin,ford,NaN,2016-04-04 00:00:00,0,65606,2016-04-05 12:22:12
68,2016-04-03 17:36:59,Mini_cooper_s_clubman_/vollausstattung_/_Navi/...,privat,Angebot,10990.0,test,NaN,2017,manuell,174,clubman,100000.0,0,NaN,mini,nein,2016-04-03 00:00:00,0,83135,2016-04-05 17:26:26
76,2016-03-22 14:52:57,BMW_318i_neustes_Model_0Km,privat,Angebot,31999.0,control,limousine,2016,manuell,136,3er,5000.0,2,benzin,bmw,NaN,2016-03-22 00:00:00,0,45149,2016-04-06 05:15:42
84,2016-03-27 19:52:54,Renault_twingo,privat,Angebot,900.0,control,NaN,2018,NaN,60,twingo,150000.0,0,NaN,renault,NaN,2016-03-27 00:00:00,0,40589,2016-04-05 18:46:49
101,2016-03-22 17:51:49,Schnaepchen_in_einem_Jahr_OLDTEIMER_KENNZEICHEN,privat,Angebot,600.0,control,NaN,2016,NaN,0,corolla,150000.0,0,NaN,toyota,NaN,2016-03-22 00:00:00,0,32825,2016-03-22 17:51:49
113,2016-04-03 14:58:29,Golf_4_Anfaenger_auto,privat,Angebot,1200.0,test,NaN,2017,manuell,75,golf,150000.0,7,NaN,volkswagen,NaN,2016-04-03 00:00:00,0,97656,2016-04-05 14:15:48
135,2016-03-12 11:00:10,Opel_Meriva_B_Panoramadach__Sitz__und_Lenkradh...,privat,Angebot,8500.0,control,NaN,2016,manuell,81,meriva,90000.0,8,diesel,opel,NaN,2016-03-12 00:00:00,0,48147,2016-03-22 14:49:31
164,2016-03-13 20:39:16,Opel_Meriva__nur_76000_Km__unfallfrei__scheckh...,privat,Angebot,4800.0,control,NaN,2018,manuell,0,meriva,80000.0,4,benzin,opel,nein,2016-03-13 00:00:00,0,37627,2016-04-04 16:48:02
197,2016-04-05 10:36:24,VW_Polo_9N_an_Bastler,privat,Angebot,888.0,control,NaN,2017,manuell,64,polo,20000.0,7,NaN,volkswagen,ja,2016-04-05 00:00:00,0,58566,2016-04-07 13:16:13
227,2016-04-04 17:54:21,Als_Bastler_Fahrzeug,privat,Angebot,300.0,test,NaN,2016,NaN,0,seicento,125000.0,0,benzin,fiat,NaN,2016-04-04 00:00:00,0,25924,2016-04-06 19:48:31
253,2016-03-27 13:25:18,Ford_mondeo_Gas_anlage_mit_TÜV_04.2017,privat,Angebot,2250.0,test,NaN,2017,manuell,0,mondeo,150000.0,8,benzin,ford,nein,2016-03-27 00:00:00,0,56575,2016-04-05 15:18:34
256,2016-04-03 20:50:38,Passat_1.9TDI_4Motion_Highline,privat,Angebot,4250.0,test,NaN,2016,manuell,131,passat,150000.0,11,NaN,volkswagen,NaN,2016-04-03 00:00:00,0,31224,2016-04-03 20:50:38
295,2016-03-28 03:36:22,Privat_anbiter,privat,Angebot,1000.0,control,NaN,2016,manuell,0,astra,150000.0,8,benzin,opel,NaN,2016-03-28 00:00:00,0,44147,2016-03-29 23:18:11
307,2016-03-15 22:50:48,Giessen_ford,privat,Angebot,2800.0,test,NaN,2016,manuell,109,focus,150000.0,8,NaN,ford,NaN,2016-03-15 00:00:00,0,35396,2016-04-07 05:16:07
343,2016-03-08 21:45:54,mitsubishi_colt,privat,Angebot,600.0,control,NaN,2016,manuell,75,colt,150000.0,0,benzin,mitsubishi,NaN,2016-03-08 00:00:00,0,42929,2016-03-19 07:15:57
348,2016-03-17 20:58:24,VW_Beetle_1.8Turbo_mit_Vollausstattung_und_seh...,privat,Angebot,3750.0,control,NaN,2017,manuell,150,beetle,150000.0,7,NaN,volkswagen,nein,2016-03-17 00:00:00,0,45896,2016-03-24 17:17:50
374,2016-03-15 18:42:52,Polo_9N_1_9_Tdi_Gti_Optik,privat,Angebot,3850.0,control,NaN,2016,manuell,101,polo,150000.0,0,diesel,volkswagen,NaN,2016-03-15 00:00:00,0,21762,2016-03-20 15:17:50
390,2016-03-25 12:59:06,Fiat_Bertone_X_1_9__X_1/9__X19__X_19__X1_9__X_19,privat,Angebot,7750.0,test,NaN,2018,manuell,76,andere,150000.0,6,benzin,fiat,nein,2016-03-25 00:00:00,0,78239,2016-03-28 12:16:50
437,2016-03-25 16:39:01,Mazda__klima_leder__Alufelgen,privat,Angebot,550.0,control,NaN,2016,manuell,0,NaN,150000.0,7,benzin,mazda,ja,2016-03-25 00:00:00,0,70372,2016-04-06 20:48:19
438,2016-03-10 20:36:25,VW_Golf_5_V_1.6_2004_Klima_Tempomat,privat,Angebot,4150.0,test,NaN,2017,manuell,102,golf,150000.0,0,benzin,volkswagen,NaN,2016-03-10 00:00:00,0,49377,2016-03-13 03:16:51
452,2016-03-08 10:52:14,Blauer_Golf_III_schoenes_Anfaenger_Auto,privat,Angebot,800.0,test,NaN,2016,manuell,75,golf,150000.0,3,benzin,volkswagen,NaN,2016-03-08 00:00:00,0,29640,2016-03-10 23:17:57
453,2016-03-28 13:51:12,Armee_Jeep,privat,Angebot,9800.0,test,NaN,4500,manuell,0,andere,5000.0,0,NaN,jeep,NaN,2016-03-28 00:00:00,0,7545,2016-04-06 17:45:49
454,2016-03-25 09:57:03,Ford_Fiesta_Servo_D3_Kat_86_Steuern_65.000_tkm,privat,Angebot,750.0,test,NaN,2017,manuell,50,fiesta,70000.0,0,benzin,ford,NaN,2016-03-25 00:00:00,0,12207,2016-03-26 19:47:15
457,2016-03-15 17:48:39,Mercedes_Benz_W203_C200_Kombi_Kompressor_c_kla...,privat,Angebot,3000.0,control,NaN,2017,manuell,163,c_klasse,150000.0,8,NaN,mercedes_benz,NaN,2016-03-15 00:00:00,0,40627,2016-03-21 16:49:25
477,2016-03-31 08:53:34,Citroën_C4,privat,Angebot,3200.0,control,NaN,2017,manuell,88,NaN,125000.0,2,NaN,citroen,nein,2016-03-31 00:00:00,0,12459,2016-03-31 10:41:30
479,2016-03-08 07:55:41,Renault_R4_TL_Savanne,privat,Angebot,6450.0,test,NaN,2016,NaN,0,andere,70000.0,0,NaN,renault,NaN,2016-03-08 00:00:00,0,57462,2016-04-06 06:46:24
495,2016-03-17 18:45:02,BMW_1er_116i,privat,Angebot,8000.0,control,NaN,2016,manuell,122,1er,80000.0,12,benzin,bmw,nein,2016-03-17 00:00:00,0,34329,2016-04-06 00:46:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49385,2016-03-09 15:50:45,Golf_3_500_Festpreis,privat,Angebot,500.0,control,NaN,2016,manuell,0,golf,150000.0,5,benzin,volkswagen,nein,2016-03-09 00:00:00,0,29525,2016-03-16 18:20:21
49389,2016-03-10 07:54:10,Astra_G_CC,privat,Angebot,950.0,control,NaN,2017,NaN,0,astra,150000.0,0,benzin,opel,NaN,2016-03-10 00:00:00,0,33332,2016-03-25 07:17:25
49411,2016-03-28 12:58:19,Renault_twingo_Tuev_neu,privat,Angebot,1550.0,test,NaN,2018,NaN,0,twingo,100000.0,0,NaN,renault,NaN,2016-03-28 00:00:00,0,48739,2016-03-28 13:41:18
49417,2016-03-17 19:51:11,Opel_vectra_gruene_Plakette_guter_Zustand,privat,Angebot,400.0,control,NaN,2016,manuell,115,vectra,150000.0,7,NaN,opel,nein,2016-03-17 00:00:00,0,79365,2016-03-22 02:17:24
49477,2016-03-25 14:48:00,Opel_Omega_B_Caravan,privat,Angebot,450.0,control,NaN,2016,automatik,136,omega,150000.0,0,NaN,opel,NaN,2016-03-25 00:00:00,0,15713,2016-04-06 17:47:06
49522,2016-03-14 10:42:08,Mazda_Demio_zu_verkaufen!_RESERVIERT,privat,Angebot,350.0,control,NaN,2017,manuell,72,NaN,150000.0,12,NaN,mazda,nein,2016-03-14 00:00:00,0,32791,2016-03-24 17:45:40
49528,2016-03-28 19:57:41,"BMW_E36__316i_Compact_M_Paket_""Schlachtfest""",privat,Angebot,1.0,control,NaN,2016,manuell,102,3er,150000.0,12,benzin,bmw,NaN,2016-03-28 00:00:00,0,49696,2016-04-07 02:47:04
49531,2016-03-07 12:56:48,Fiat_Merena_Diesel_Kombi,privat,Angebot,500.0,test,NaN,2016,manuell,107,NaN,150000.0,9,NaN,fiat,nein,2016-03-07 00:00:00,0,95517,2016-03-11 06:15:48
49547,2016-03-30 16:49:46,Smart_Passion_mit_Panorama_Dach,privat,Angebot,3600.0,test,NaN,2016,NaN,71,fortwo,125000.0,10,benzin,smart,NaN,2016-03-30 00:00:00,0,49413,2016-03-30 16:49:46
49557,2016-03-19 18:42:28,E320_T_cdi_avangart,privat,Angebot,6250.0,test,NaN,2017,automatik,205,e_klasse,150000.0,3,diesel,mercedes_benz,nein,2016-03-19 00:00:00,0,13589,2016-04-07 05:17:42
49561,2016-03-27 11:25:23,Ford_Galaxy_1_8_TDCI_7_Sitze_Paoramadach_DPF_AHK,privat,Angebot,6500.0,test,NaN,2017,manuell,0,galaxy,150000.0,6,NaN,ford,NaN,2016-03-27 00:00:00,0,55128,2016-03-30 13:15:32
49653,2016-03-25 20:50:13,Top_zustand_privat,privat,Angebot,1050.0,control,NaN,2017,manuell,110,scenic,150000.0,8,benzin,renault,nein,2016-03-25 00:00:00,0,34127,2016-03-28 21:19:07
49662,2016-03-10 11:54:09,Daihatsu_Coure_122tkm_Tuev_1/17_2.Hand,privat,Angebot,333.0,test,NaN,2017,manuell,0,cuore,125000.0,0,benzin,daihatsu,NaN,2016-03-10 00:00:00,0,41751,2016-03-12 16:15:59
49686,2016-03-21 18:43:24,Ford_Escort_Combi_Bastler,privat,Angebot,700.0,test,NaN,2016,manuell,90,escort,150000.0,0,NaN,ford,ja,2016-03-21 00:00:00,0,12351,2016-03-22 23:44:27
49689,2016-03-14 15:44:53,VW_GOLF_V_1.9,privat,Angebot,4700.0,control,NaN,2017,manuell,105,NaN,150000.0,0,diesel,volkswagen,NaN,2016-03-14 00:00:00,0,22459,2016-03-16 05:45:48
49696,2016-03-08 13:36:21,Audi_A3_1_6_Attraction_mit_TÜV_10/17,privat,Angebot,1250.0,control,NaN,2017,manuell,101,a3,150000.0,8,benzin,audi,nein,2016-03-08 00:00:00,0,26624,2016-03-08 21:17:30
49725,2016-03-26 12:58:05,VW_Passat_2.8l_V6_Syncro_AHK,privat,Angebot,999.0,control,NaN,2016,automatik,193,passat,150000.0,0,NaN,volkswagen,ja,2016-03-26 00:00:00,0,82343,2016-03-26 13:42:13
49728,2016-03-25 16:00:11,Ford_Focus_1.4_16V_Bastlerauto,privat,Angebot,1.0,test,NaN,2016,manuell,0,focus,150000.0,0,benzin,ford,ja,2016-03-25 00:00:00,0,34587,2016-03-25 16:40:21
49731,2016-03-28 13:40:31,Renault_MEGANE_1.6_16V__neu_ZANHRIEMEN_TOP_ZUS...,privat,Angebot,1700.0,test,NaN,2017,manuell,0,megane,150000.0,7,NaN,renault,nein,2016-03-28 00:00:00,0,34123,2016-03-31 21:44:52
49750,2016-03-29 22:37:59,Volkswagen_Polo_6n,privat,Angebot,220.0,test,NaN,2016,NaN,60,NaN,150000.0,0,NaN,volkswagen,ja,2016-03-29 00:00:00,0,67433,2016-04-02 12:47:26
49770,2016-03-15 12:54:26,VW_Polo_6n_Tuev_Neu!__1.6_75PS,privat,Angebot,999.0,control,NaN,2018,manuell,75,polo,150000.0,12,benzin,volkswagen,nein,2016-03-15 00:00:00,0,24321,2016-04-06 02:16:02
49796,2016-03-09 09:38:38,Opel_corsa_1.4_zu_verkaufen,privat,Angebot,4500.0,test,NaN,2017,manuell,90,corsa,70000.0,7,benzin,opel,nein,2016-03-09 00:00:00,0,88433,2016-03-17 20:45:08
49841,2016-03-11 15:37:02,Passat_abzugeben.,privat,Angebot,600.0,test,NaN,2017,manuell,101,passat,150000.0,7,NaN,volkswagen,NaN,2016-03-11 00:00:00,0,53804,2016-03-11 16:41:14
49852,2016-04-01 04:02:25,TOP__Golf_3_1.8l,privat,Angebot,1450.0,control,NaN,2016,NaN,75,golf,150000.0,7,benzin,volkswagen,NaN,2016-04-01 00:00:00,0,67661,2016-04-05 03:17:29
49876,2016-03-22 17:57:24,Audi_a5_3.0_tdi_s_line,privat,Angebot,14700.0,control,NaN,2016,manuell,0,NaN,150000.0,10,diesel,audi,NaN,2016-03-22 00:00:00,0,44227,2016-03-22 18:40:53
49910,2016-04-03 21:39:15,Schoener_fast_neuer_Opel_Mokka_in_Zell_Mosel_m...,privat,Angebot,22200.0,test,NaN,9000,automatik,140,andere,10000.0,3,benzin,opel,NaN,2016-04-03 00:00:00,0,56856,2016-04-05 22:18:26
49919,2016-03-10 09:49:43,Fiat_Punto,privat,Angebot,180.0,test,NaN,2016,manuell,86,punto,150000.0,8,NaN,fiat,ja,2016-03-10 00:00:00,0,59558,2016-03-10 10:39:58
49935,2016-04-01 21:48:20,Mercedes_A_klasse_angemeldet_mit_Tuef_und_Auto...,privat,Angebot,800.0,test,NaN,2017,automatik,101,a_klasse,150000.0,9,NaN,mercedes_benz,nein,2016-04-01 00:00:00,0,39108,2016-04-01 21:48:20
49938,2016-03-28 18:45:06,Mercedes_Benz_A_160_Avantgarde,privat,Angebot,2300.0,control,NaN,2016,automatik,102,a_klasse,150000.0,6,benzin,mercedes_benz,nein,2016-03-28 00:00:00,0,13507,2016-04-07 00:44:35
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,500.0,control,NaN,2016,manuell,0,twingo,150000.0,0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19

Taking a look at the registration_year and the last_seen columns, it's clear that anything over 2016 is inaccurate, and likely has to be removed. These vehicles were added in 2016, so the first registration year cannot be in the future:

In [35]:
autos = autos[autos["registration_year"] > 1909]

In [36]:
autos["registration_year"].value_counts().sort_index(ascending=False)

9999       3
9000       1
8888       1
6200       1
5911       1
5000       4
4800       1
4500       1
4100       1
2800       1
2019       2
2018     470
2017    1392
2016    1220
2015     392
2014     663
2013     803
2012    1310
2011    1623
2010    1589
2009    2085
2008    2215
2007    2277
2006    2670
2005    2936
2004    2703
2003    2699
2002    2486
2001    2636
2000    3156
        ...
1968      26
1967      26
1966      22
1965      17
1964      12
1963       8
1962       4
1961       6
1960      23
1959       6
1958       4
1957       2
1956       4
1955       2
1954       2
1953       1
1952       1
1951       2
1950       3
1948       1
1943       1
1941       2
1939       1
1938       1
1937       4
1934       2
1931       1
1929       1
1927       1
1910       5
Name: registration_year, Length: 91, dtype: int64

In [37]:
autos = autos[autos["registration_year"] < 2017]

In [38]:
autos["registration_year"].value_counts(normalize=True).sort_index(ascending=False)

2016    0.026135
2015    0.008397
2014    0.014203
2013    0.017202
2012    0.028063
2011    0.034768
2010    0.034040
2009    0.044665
2008    0.047450
2007    0.048778
2006    0.057197
2005    0.062895
2004    0.057904
2003    0.057818
2002    0.053255
2001    0.056468
2000    0.067608
1999    0.062060
1998    0.050620
1997    0.041794
1996    0.029412
1995    0.026285
1994    0.013474
1993    0.009104
1992    0.007926
1991    0.007262
1990    0.007433
1989    0.003727
1988    0.002892
1987    0.001542
          ...
1968    0.000557
1967    0.000557
1966    0.000471
1965    0.000364
1964    0.000257
1963    0.000171
1962    0.000086
1961    0.000129
1960    0.000493
1959    0.000129
1958    0.000086
1957    0.000043
1956    0.000086
1955    0.000043
1954    0.000043
1953    0.000021
1952    0.000021
1951    0.000043
1950    0.000064
1948    0.000021
1943    0.000021
1941    0.000043
1939    0.000021
1938    0.000021
1937    0.000086
1934    0.000043
1931    0.000021
1929    0.000021
1927    0.000021
1910    0.000107
Name: registration_year, Length: 78, dtype: float64

In [39]:
autos["registration_year"].describe()

count    46681.000000
mean      2002.910756
std          7.185103
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

It looks like most of the cars listed were registered around the year 2000. Quite a few vehicles were listed as being registered in 2016, but I wonder if that is simply based around the date last_seen online. I noticed that the registration_month is 0 for quite a few entries.

In [40]:
autos["brand"].value_counts().sort_index(ascending=False)

volvo              427
volkswagen        9862
trabant             65
toyota             593
suzuki             277
subaru             100
sonstige_autos     458
smart              661
skoda              766
seat               853
saab                77
rover               62
renault           2201
porsche            286
peugeot           1393
opel              5022
nissan             713
mitsubishi         384
mini               409
mercedes_benz     4503
mazda              709
land_rover          98
lancia              50
lada                27
kia                330
jeep               106
jaguar              73
hyundai            468
honda              366
ford              3263
fiat              1197
daihatsu           117
daewoo              70
dacia              123
citroen            654
chrysler           164
chevrolet          266
bmw               5137
audi              4041
alfa_romeo         310
Name: brand, dtype: int64

What I want to take a look at is the 5 most popular vehicles to see if there is any pattern linking their popularity. **Volkswagon** is clearly the most popular used car for sale. Next up is **bmw** and then **opel**. We close out the list with **mercedez_benz** and **audi**.

In [44]:
most_pop_on_sale = {}
popular_cars = ["volkswagen", "bmw", "opel", "mercedes_benz", "audi"]

for c in popular_cars:
    car = autos[autos["brand"] == c]
    mean = car["price"].mean()
    most_pop_on_sale[c] = mean

print(most_pop_on_sale)

{'bmw': 8332.820517811953, 'audi': 9336.687453600594, 'mercedes_benz': 8628.450366422385, 'opel': 2975.2419354838707, 'volkswagen': 5402.410261610221}

After running the loop on the selected vehicles, it appears that the most popular cars have an average price under 10,000 dollars. This might be the reason for the popularity. 

Another thing I wonder is if sellers are going for a lower price than what the vehicles are actually worth. What makes the Audi vehicles worth more than the Mercedes-Benz? And are the Volkswagen vehicles priced to sell due to other reasons? We would need more data to find out.

In [49]:
pop_car_mileage = {}

for c in popular_cars:
    car = autos[autos["brand"] == c]
    mean = car["odometer_km"].mean()
    pop_car_mileage[c] = mean
 
pop_car_mileage

{'audi': 129157.38678544914,
 'bmw': 132572.51313996495,
 'mercedes_benz': 130788.36331334666,
 'opel': 129310.0358422939,
 'volkswagen': 128707.15879132022}

Now lets convert these two dictionaries into objects:

In [52]:
pop_prices_series = pd.Series(most_pop_on_sale)
print(pop_prices_series)

audi             9336.687454
bmw              8332.820518
mercedes_benz    8628.450366
opel             2975.241935
volkswagen       5402.410262
dtype: float64

In [55]:
pop_cars = pd.DataFrame(pop_prices_series, columns=["mean_prices"])
pop_cars

               mean_prices
audi           9336.687454
bmw            8332.820518
mercedes_benz  8628.450366
opel           2975.241935
volkswagen     5402.410262

In [62]:
pop_mileage_series = pd.Series(pop_car_mileage)
pop_cars["mean_mileage"] = pop_mileage_series
pop_cars

               mean_prices   mean_mileage
audi           9336.687454  129157.386785
bmw            8332.820518  132572.513140
mercedes_benz  8628.450366  130788.363313
opel           2975.241935  129310.035842
volkswagen     5402.410262  128707.158791

### Findings:
Looking at this dataframe for the most popular cars, its clear the mileage isn't necessarily playing a factor in the cost of the vehicle. **bmw** appears to have an average mileage of 132k _(highest in the bunch)_, but comes in at the second highest average cost _($8,332)_. 

Looking at this df, the **volkswagen** and **opel** seem to be the best value, price and mileage-wise. However, it would be nice to have seen some data regarding the # of accidents, recalls, avg cost of repairs, for each brand to get a true sense of the value for a buyer.